head {
    
}

body {

    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

h1 {


}

header{
    
}

container {


}

form {
    border:1px solid #ccc;
}

button {
    width: 68px; 
    height: 44px; 
    position: relative; 
    box-sizing: border-box; 
    overflow: visible;
    
}


div {
    
    text-align:left;
    display: block;

}

p {
    
    text-align:left;
}

input {
    
    
}

label {
    
    
}

a {
    
}

p a {
    
    text-align: center;
}

error {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

li {
    float: left;
    width: 72px;
    height: 44px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
}

ul li{
    margin-left: auto;
    margin-right: auto;
}

li a {
    display: block;
    color: white;
    background: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 370px;
    margin: 20px auto 0;
    width: 298px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 20px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}

input{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}

label {

    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    margin: 20px 20px 0 20px;
}

.login button{
    text-align: center;
    display: block;
    margin: auto;
    
}
.create button{
    display:inline;
    margin: 20px 60px 0 20px;
    
}

.create input {
    display: block;
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 20px;
    transition: box-shadow 0.3s;
    width: 240px;
    
}

.create {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 700px;
    margin: 20px auto 0;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.create #rememberMe {
    display: inline;
}

.post{
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 300px;
    margin: 20px auto 0;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.post button{
    display:inline;
    margin: 20px 60px 0 20px;
    
}

.login p a {
    margin: auto;
    display: block;
}

#LCAIp {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.forgot{
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 200px;
    margin: 20px auto 0;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.forgot button{
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 60px 0 20px;
}


#navBar {
    position: sticky;  
    top: 0;   
    left: center;
    right: center;
    
}

#intro {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

#intro p{
    line-height: 1.50;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    
}

#wellness p{
    line-height: 1.50;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    
}

#intro{
    background: #8A2BE2;
    
}

#intro button{
    text-align: center;
    display: block;
    margin: auto;
}

#wellness{
    background: #32CD32;
    
}

#wellness button{
    text-align: center;
    display: block;
    margin: auto;
}


#filler {
    background: #8A2BE2;
    
}
#home h1{
    text-align: center;
    font-family: sans-serif;
}