head {
    
}

body {

    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

h1 {
    font-size: 30px;

}

h3 {
    font-size: 20px;
}

header{
    
}

container {


}

form {
    border:1px solid #ccc;
}

button {
    width: 68px; 
    height: 44px; 
    position: relative; 
    box-sizing: border-box; 
    overflow: visible;
    
}


div {
    
    text-align:left;
    display: block;

}

p {
    
    text-align:left;
}

input {
    
    
}

label {
    
    
}

a {
    
}

p a {
    
    text-align: center;
}

error {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

li {
    float: left;
    width: 72px;
    height: 44px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
}

ul li{
    margin-left: auto;
    margin-right: auto;
}

li a {
    display: block;
    color: white;
    background: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 370px;
    margin: 20px auto 0;
    width: 298px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 20px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}

input{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}

label {

    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    margin: 20px 20px 0 20px;
}

.login button{
    text-align: center;
    display: block;
    margin: auto;
    
}
.create button{
    display:inline;
    margin: 20px 35px 0 35px;
    
}

.create input {
    display: block;
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 20px;
    transition: box-shadow 0.3s;
    width: 240px;
    
}

.create {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 700px;
    margin: 20px auto 0;
    width: 310px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.create #rememberMe {
    display: inline;
}

.post{
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 300px;
    margin: 20px auto 0;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.post button{
    display:inline;
    margin: 20px 20px 0 40px;
    
}

.login p a {
    margin: auto;
    display: block;
}

#LCAIp {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.forgot{
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 220px;
    margin: 20px auto 0;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.forgot button{
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 30px 0 36px;
}


#navBar {
    position: sticky;  
    top: 0;   
    left: center;
    right: center;
    
}

#intro {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
    
}

#intro p{
    line-height: 1.50;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    
}

#wellness p{
    line-height: 1.50;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    
}

#intro{
    background: #3c13ad;
    
}

#intro button{
    text-align: center;
    display: block;
    margin: auto;
    padding: 0;
    border-radius: 8px;
    background-color: Transparent;
    color: white;
}

#intro button: hover {
    background-color: #29a024;
    
}

#wellness{
    background: #29a024;
    color: white;
    
}

#wellness button{
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 8px;
    background-color: Transparent;
    color: white;
}

#wellness button: hover {
    background-color: #3c13ad;
    
}

#GarrisonStory{
    background: #3c13ad;
    color: white;
    
}

#GarrisonStory h3 {
    text-align: center;
}

#GarrisonStory button {
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 8px;
    background-color: Transparent;
    color: white;
}

#GarrisonStory img{
    display: block;
    margin: auto;
    width: 50%;
}

#filler {
    background: #3c13ad;
    
}
#home h1{
    text-align: center;
    font-family: sans-serif;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 0;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Style all font icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  width: 50%;
}

/* Twitter */
.fa-twitter {
  width: 10%;
}

.fa-linkedIn {
    width: 10%;
}